.pulse {
	animation: pulse 1s ease-in;
	animation-iteration-count: infinite;
	transition: .6s;
	opacity: 0;
}

@keyframes pulse {
	0% {
		transform: scale(.5);
	}

	10%,
	90% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.4);
	}
}

/* 
   -------------------------------------------------------
            TOAST
   ------------------------------------------------------- 
*/
.report {
	position: fixed;
	z-index: 10000;
	left: 20px;
	width: calc(100% - 40px);
	margin: 0;
	text-align: center;
	top: 64px;
	padding: 0;
}

.rep-content {
	margin: 10px auto;
	padding: 15px 20px;
	opacity: 0;
	margin-top: -50px;
	transition: 0.2s;
	transform: rotate(45deg);
	transform-origin: right;
	background: #000;
	color: #fff;
	text-align: left;
	width: fit-content;
	max-width: 300px;
	cursor: pointer;
	font-size: 1.2rem !important;
	font-weight: initial !important;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.rep-content i,
.rep-content span {
	padding: 0.3rem;
	height: 1.4rem;
	line-height: 1.6rem;
	text-align: center;
	width: 1.6rem;
	float: right;
	margin: 0;
	font-size: 1.3rem;
	margin: -1.1rem -1.2rem 0 0;
	color: #ffffff;
}

.rep-content.active {
	opacity: 1;
	margin-top: 48px;
	transform: none;
}

/*  --- TOAST TYPES --- */
.rep-info {
	background-color: #0d47a1 !important;
}

.rep-alert {
	background-color: #c62828 !important;
}

.rep-warn {
	background-color: #ef6c00 !important;
}