---
import site from "@data/site.json";
---

<header>
	<div class="container">
		<img src={site.logo.src} alt={site.logo.alt} class="logo">
		<div class="theme" id="theme">
			<span class="material-symbols-outlined">dark_mode</span>
		</div>
	</div>
</header>